{{template "base" .}} {{define "css"}}
<style>
  .right-content {
    max-width: 60%; /* Default for larger screens */
  }

  /* Tablets (Portrait) - Make it wider */
  @media (max-width: 1200px) {
    .right-content {
      max-width: 40%;
    }
  }
  /* Tablets (Portrait) - Make it wider */
  @media (max-width: 990px) {
    .right-content {
      max-width: 100%;
    }
  }
  /* Tablets (Portrait) - Make it wider */
  @media (max-width: 912px) {
    .right-content {
      max-width: 100%;
    }
    .maps {
      width: 100%;
    }
  }

  /* Tablets (Portrait) - Make it wider */
  @media (max-width: 820px) {
    .maps {
      width: 100%;
    }
    .right-content {
      max-width: 100%;
    }
  }

  /* Mobile Devices (Small Screens) - Full width */
  @media (max-width: 770px) {
    .right-content {
      max-width: 100%;
    }
  }

  /* Extra Small Screens (Tiny Phones) - Center the content */
  @media (max-width: 480px) {
    .right-content {
      max-width: 100%;
      text-align: center; /* Optional: Center-align text */
    }
  }
</style>
{{end}} {{define "content"}}

<!-- ***** Header Area Start ***** -->
<header
  class="header-area header-sticky wow slideInDown"
  data-wow-duration="0.75s"
  data-wow-delay="0s"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/" class="logo"> </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/search">Search Listings</a></li>
            <li>
              <div class="main-white-button">
                <a href="/create-listing"
                  ><i class="fa fa-plus"></i> Add Your Listing</a
                >
              </div>
            </li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-text header-text">
          <iframe
            src=""
            width="100%"
            height="500"
            frameborder="0"
            style="border: 0"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-page">
  <div class="container">
    <form id="contact" action="/create-listing" method="POST" class="mt-5">
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
      <div class="row">
        <div class="col-lg-12">
          <div class="inner-content">
            <div class="row">
              <div class="col-lg-12 align-self-center">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Yard Sale</h2>
                    <br />
                    <h6>Saturday 05/13/2025</h6>
                    <br />
                    <h6>123 Fake Street</h6>
                    <br />
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="description">
                  <div class="row">
                    <div class="col-lg-12">
                      <h4>Description for this Sale</h4>
                      <p class="mt-5">If you feel that Plot Listing HTML template is useful, please <a rel="nofollow" href="https://www.paypal.me/templatemo" target="_blank">support us</a> a little via PayPal. You are allowed to use this template for your commercial websites. You are NOT allowed to redistribute this template ZIP file on any Free CSS collection websites. You may contact us for more information. Thank you.</p>
                      
                      <div class="row mt-5">
                        <div class="col-lg-12">
                          <div class="helpful-links">
                            <h4>Items in this Sale</h4>
                            <div class="row mt-5">
                              <div class="col-lg-6">
                                <h6 class="p-2">Item 1</h6>
                                <h6 class="p-2">Item 1</h6>
                                <h6 class="p-2">Item 1</h6>
                                <h6 class="p-2">Item 1</h6>
                              </div>
                              <div class="col-lg-6">
                                <h6 class="p-2">Item 1</h6>
                                <h6 class="p-2">Item 1</h6>
                                <h6 class="p-2">Item 1</h6>
                              </div>
                            </div>
                            <p class="mt-5">If you feel that Plot Listing HTML template is useful, please <a rel="nofollow" href="https://www.paypal.me/templatemo" target="_blank">support us</a> a little via PayPal. You are allowed to use this template for your commercial websites. You are NOT allowed to redistribute this template ZIP file on any Free CSS collection websites. You may contact us for more information. Thank you.</p>
                      
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sub-footer">
          <p>
            Copyright © 2025 Yard Finder., Ltd. All Rights Reserved.
            <br />
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

{{end}}{{define "js"}} 
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var tooltipTriggerList = [].slice.call(
      document.querySelectorAll('[data-bs-toggle="tooltip"]')
    );
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  });
</script>
<script>
  document.getElementById("contact").addEventListener("submit", async function (e) {
    e.preventDefault(); // Stop default submission

    const address = document.getElementById("addressone").value;
    const city = document.getElementById("city").value;
    const state = document.getElementById("state").value;
    const zipcode = document.getElementById("zipcode").value;
    const fullAddress = `${address}, ${city}, ${state} ${zipcode}, USA`;
    const errorMessageDiv = document.getElementById("error-message");


     // Clear previous error message
    errorMessageDiv.style.display = "none";
    errorMessageDiv.innerText = "";
    

    const apiKey = "";
    const url = `https://addressvalidation.googleapis.com/v1:validateAddress?key=${apiKey}`;

    const response = await fetch(url, {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        address: { addressLines: [fullAddress] },
        enableUspsCass: true // Improves standardization
      }),
    });

    const data = await response.json();
    if (data.result.verdict.hasUnconfirmedComponents || data.result.verdict.hasRejectedComponents) {
      errorMessageDiv.innerText = "Invalid address! Please check your input.";
      errorMessageDiv.style.display = "block";
    } else {
      alert("Valid address! Submitting...");
      console.log(data)
      // this.submit(); // Allow form submission
    }
  });
</script>
{{ end }}
